
<div class="container mt-5">
  <div class="row row-cols-3">
    @for (item of data; track $index) {
    <div class="col">

        <div  routerLink= "{{item.id}}" class="card mt-5" style="width: 18rem;">
          <img src={{item.image}} class="card-img-top" alt="...">
          <div class="card-body">
            <h5 class="card-title">{{item.title}}</h5>
            <p class="card-text">{{item.description | slice : 0 :100}}...</p>
            <a class="btn"><b>Rs.{{item.price}}/-</b></a>
          </div>
        </div>

    </div>
  }
  </div>
</div>


